body{
    margin: 0 auto;
    background-color: #cdcdcd;
    background-image: url("\Sitebackground1.png");
    font-family: Arial, Times, serif;
}

header {
    position: static;
    background-color: white;
    width: 98%;
    height: fit-content;
    margin: 0.5%;
    border: 5px solid black;
    min-width: 200px;
}

.persoonsgegevens {
    position: static;
    border: 5px solid black;
    height: fit-content;
    width: 32%;
    float: left;
    background-color: white;
    margin: 0.5%;
    padding: 1%;
    min-width: 200px;
}

.werkervaring {
    position: static;
    border: 5px solid black;
    height: fit-content;
    width: 32%;
    float: left;
    background-color: white;
    margin: 0.5%;
    padding: 1%;
    min-width: 400px;
}

.persoonlijkheid {
    position: static;
    border: 5px solid black;
    height: fit-content;
    width: 32%;
    float: left;
    background-color: white;
    margin: 0.5%;
    padding: 1%;
    min-width: 200px;
}

footer {
    position: static;
    border: 5px solid black;
    height: fit-content;
    width: 98%;
    background-color: white;
    margin: 0.5%;
    min-width: 200px;
    padding: 1.2% 1.2% 1.2% 3%;
    background-image: url("\SiteHandtekening1.PNG");
    background-position: right;
    background-size: 200px;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    font-size: 1em;
}

#afbeeldingHoofd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 180px;
    text-align: center;
}

table {
    border: 1px solid lightgray;
    padding: 2px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-spacing: 0px;
    
}

thead {
    background-color: lightgray;
    text-align: left;
}

th {
    padding-left: 5px;
    padding-bottom: 2px; 
}

td {
    padding-left: 5px;
}

h3 {
    text-align: center;
    width: 100%;
    font-family: Arial;
    background-color: lightslategray;
    color: white;
    font-size: 1em;
}

h1 {
    font-family: Arial;
    font-weight: bolder;
    font-size: 2.5em;
    margin-block-end: 0.1em;
    margin-block-start: 0.1em;
    text-align: center;
}

#opmerking {
    margin: 0;
    width: fit-content;
}

h6 {
    font-size: 1em;
    margin-block-start: 2em;
    margin-block-end: 1em;

}

.certificatenLijst {
    list-style-type: "-  ";
    padding-inline-start: 30px;
}

.cursussenLijst {
    list-style-type: "-  ";
    padding-inline-start: 30px;
}

.hobbiesLijst {
    list-style-type: "-  ";
    padding-inline-start: 30px;
}

#mailtoId {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#calltoId {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#linkAuteursrecht a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#linkAuteursrecht {
    margin-top: 2px;
}

.buttonsId {
    text-align: right;
    margin: 0;
    width: 100%;
    padding-right: 1.5%;
    padding-top: 0.5%;
}
